---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__content {font-size:0.8em;}
.author__counter__image {max-width:80px;}
.author__urls  {font-size:0.8em; }
.archive__item-title {font-size:0.8em; }
.masthead__menu-item {font-size:0.8em; }
.category__menu-item {font-size:0.7em; }
.tag__menu-item {font-size:0.7em; }
.sidebar__menu-link {color: black; }
.author__since {font-size:0.6em;}
